<!--
  Generated template for the CompanyHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Company History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card *ngFor="let historyItem of companyHistory">
    <ion-card-header>
            <ion-item text-wrap>
                <b> {{historyItem.title}} </b>
              </ion-item>
        </ion-card-header> 
        <ion-card-content>
            <ion-datetime displayFormat="D MMMM YYYY" [(ngModel)]="historyItem.event_date_utc" > </ion-datetime>
            <ion-item text-wrap> 
                <ion-item> {{historyItem.details}} </ion-item>
             </ion-item>
            <ion-item text-wrap>
              <ion-item *ngIf="historyItem.links.reddit"> <a href="historyItem.links.reddit"> Reddit </a> </ion-item>
              <ion-item *ngIf="historyItem.links.article"> <a href="historyItem.links.article"> Article </a> </ion-item>
              <ion-item *ngIf="historyItem.links.wikipedia"> <a href="historyItem.links.wikipedia"> Wikipedia </a> </ion-item>
               </ion-item>
        </ion-card-content>

</ion-card>
</ion-content>
