page-launch-list {


    .contentDiv{
        background-color: #e0e0e0;
    }

    .countDownTitle{
    text-align: center;
    color: black;
    font-weight: bold;
    }
    .countDown{
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bold;
    }
 
    .cellLaunchYearTitle{
        text-align: right;
        font-size: 12px;
    }

    .cellLaunchYear{
        text-align: right;
        font-size: 14px;
        font-weight: 600;
        padding-top: 5px;
    }

    .missionName{
        color: black;
        font-weight: bold;
    }

    .tableCellData{
        text-align: right;
        color: black;
    }

    .tableCellTitle{
        text-align: left;
        color: black;
    }


}
