<!--
  Generated template for the LaunchpadDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title *ngIf="launchpadDetails"> {{launchpadDetails.full_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card *ngIf="launchpadDetails">
<ion-card-header>
    <ion-item text-wrap>
        <b> {{launchpadDetails.full_name}} </b>
      </ion-item>
</ion-card-header>
<ion-card-content>
  
  <ion-badge  *ngIf=" launchpadDetails.status == 'active'" color="secondary">
      <p> <b ion-text color="dark"> Status :</b>   <b>{{launchpadDetails.status}}</b> </p>  
  </ion-badge>

  <ion-badge  *ngIf=" launchpadDetails.status != 'active'" color="orange">
      <p> <b ion-text color="dark"> Status :</b>   <b>{{launchpadDetails.status}}</b> </p>  
  </ion-badge>
  
  <ion-card-content>
      <p>
          {{launchpadDetails.details }}
      </p>   
   </ion-card-content>
   <ion-list>
     <ion-item text-wrap>
        <ion-icon name="navigate" item-start></ion-icon>
        <p ion-text color="dark" class="tableCellTitle"> Location : </p>
        <p item-end class="tableCellData">{{launchpadDetails.location.name}}</p>
     </ion-item>

        <button ion-item (tap)="didClickRocket(nextLaunch)" text-wrap>
            <ion-icon name="paper-plane" item-start></ion-icon>
            <p ion-text color="dark" class="tableCellTitle">Rocket : </p>
            <p item-end class="tableCellData">{{launchpadDetails.vehicles_launched}}</p>
          </button>
   </ion-list>

</ion-card-content>
</ion-card>
</ion-content>
