<!--
  Generated template for the RocketsDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ rockets.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="contentDiv">

    <ion-card>
        <img src="../../assets/rockets_images/{{rockets.id}}.jpg" width="256" height="384" />
        <ion-card-header>
            <ion-badge  *ngIf=" rockets.success_rate_pct >= 80" color="secondary">
                <p ion-text color="light"> <b > Succes rate :</b>   <b ion-text color="light">{{rockets.success_rate_pct}} %</b> </p>  
            </ion-badge>
            <ion-badge  *ngIf=" rockets.success_rate_pct <80 && rockets.success_rate_pct >= 50 " color="orange">
                <p ion-text color="light"> <b> Succes rate :</b>   <b ion-text color="light">{{rockets.success_rate_pct}} %</b> </p>  
            </ion-badge>
        
            <ion-badge  *ngIf=" rockets.success_rate_pct < 50" color="danger">
                <p ion-text color="light"> <b> Succes rate :</b>   <b ion-text color="light">{{rockets.success_rate_pct}} %</b> </p>  
            </ion-badge>  
        </ion-card-header>
        <ion-card-content>
            <h2>
                <ion-item > <b>{{rockets.name}} </b></ion-item> 
             </h2>
             <h2>
                 <ion-item><b>Height:</b> <p>{{rockets.height.meters}} m</p></ion-item>
                 <ion-item><b>Diameter :</b> <p>{{rockets.diameter.meters}} m</p></ion-item>
                 <ion-item><b>Mass : </b> <p>{{rockets.mass.kg}} kg</p></ion-item>
                 <ion-item><b>First Flight:</b> <p>{{ rockets.first_flight }}</p></ion-item>
                 <ion-item><b>Company :</b> <p>{{rockets.company}}</p></ion-item>
                 <ion-item><b>Country:</b> <p>{{ rockets.country }}</p></ion-item>
             </h2>
        <ion-item >
            <b>Description :</b>
          <ion-item text-wrap>
              <p> {{ rockets.description }}</p> 
          </ion-item>
        </ion-item>
        </ion-card-content>
      </ion-card>

  

</ion-content>
